<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="cn.fragmention">

    <application
        android:name=".FApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".EnterActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".demo_flow.Flow_MainActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".demo_wechat.WeChat_MainActivity"/>

        <activity
            android:name=".demo_zhihu.ZhiHu_MainActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name="cn.fragmention.demo_flow.SwipeBackSampleActivity"
            android:theme="@style/AppTheme.NoActionBar.SwipeBack"/>
    </application>

</manifest>
